<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="coursework_babych.speech_therapy" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<application android:label="SpeechTherapy" android:icon="@drawable/znachok"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>